# iris_dataset

In [9]:
from sklearn.datasets import load_iris

import pandas as pd
iris_df = pd.DataFrame(X, columns=iris.feature_names)
iris_df['target'] = y
print(iris_df.head())

# Load the iris dataset
iris = load_iris()

# Features (X) and Target (y)
X = iris.data
y = iris.target

# To view the first 5 rows of data

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0

In [6]:
iris_df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                 int32
dtype: object

In [7]:
iris_df.shape

(150, 5)

# Wine Dataset

In [11]:
from sklearn.datasets import load_wine
import pandas as pd

# Load the wine dataset
wine = load_wine()

# Convert the data into a DataFrame
wine_df = pd.DataFrame(wine.data, columns=wine.feature_names)

# Display the first few rows of the dataset
print(wine_df.head())

   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0    14.23        1.71  2.43               15.6      127.0           2.80
1    13.20        1.78  2.14               11.2      100.0           2.65
2    13.16        2.36  2.67               18.6      101.0           2.80
3    14.37        1.95  2.50               16.8      113.0           3.85
4    13.24        2.59  2.87               21.0      118.0           2.80

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04

   od280/od315_of_diluted_wines  proline
0                          3.92   1065.0
1                          3.40   1050.0
2                          3.17   1185.0
3                          3.45   1480.0
4                          2.93    735.0

# Digit_dataset

In [16]:
from sklearn.datasets import load_digits
import pandas as pd
digit=load_digits()
digit_df=pd.DataFrame(digit.data,columns=digit.feature_names)
print(digit_df.head())

   pixel_0_0  pixel_0_1  pixel_0_2  pixel_0_3  pixel_0_4  pixel_0_5  \
0        0.0        0.0        5.0       13.0        9.0        1.0
1        0.0        0.0        0.0       12.0       13.0        5.0
2        0.0        0.0        0.0        4.0       15.0       12.0
3        0.0        0.0        7.0       15.0       13.0        1.0
4        0.0        0.0        0.0        1.0       11.0        0.0

   pixel_0_6  pixel_0_7  pixel_1_0  pixel_1_1  ...  pixel_6_6  pixel_6_7  \
0        0.0        0.0        0.0        0.0  ...        0.0        0.0
1        0.0        0.0        0.0        0.0  ...        0.0        0.0
2        0.0        0.0        0.0        0.0  ...        5.0        0.0
3        0.0        0.0        0.0        8.0  ...        9.0        0.0
4        0.0        0.0        0.0        0.0  ...        0.0        0.0

   pixel_7_0  pixel_7_1  pixel_7_2  pixel_7_3  pixel_7_4  pixel_7_5  \
0        0.0        0.0        6.0       13.0       10.0        0.0
1        0.0        0.0        0.0       11.0       16.0       10.0
2        0.0        0.0        0.0        3.0       11.0       16.0
3        0.0        0.0        7.0       13.0       13.0        9.0
4        0.0        0.0        0.0        2.0       16.0        4.0

   pixel_7_6  pixel_7_7
0        0.0        0.0
1        0.0        0.0
2        9.0        0.0
3        0.0        0.0
4        0.0        0.0

[5 rows x 64 columns]

# breast_cancer dataset

In [22]:
from sklearn.datasets import load_breast_cancer
cancer=load_breast_cancer()

df=pd.DataFrame(cancer.data,columns=cancer.feature_names)
print(df.head())

   mean radius  mean texture  mean perimeter  mean area  mean smoothness  \
0        17.99         10.38          122.80     1001.0          0.11840
1        20.57         17.77          132.90     1326.0          0.08474
2        19.69         21.25          130.00     1203.0          0.10960
3        11.42         20.38           77.58      386.1          0.14250
4        20.29         14.34          135.10     1297.0          0.10030

   mean compactness  mean concavity  mean concave points  mean symmetry  \
0           0.27760          0.3001              0.14710         0.2419
1           0.07864          0.0869              0.07017         0.1812
2           0.15990          0.1974              0.12790         0.2069
3           0.28390          0.2414              0.10520         0.2597
4           0.13280          0.1980              0.10430         0.1809

   mean fractal dimension  ...  worst radius  worst texture  worst perimeter  \
0                 0.07871  ...         25.38          17.33           184.60
1                 0.05667  ...         24.99          23.41           158.80
2                 0.05999  ...         23.57          25.53           152.50
3                 0.09744  ...         14.91          26.50            98.87
4                 0.05883  ...         22.54          16.67           152.20

   worst area  worst smoothness  worst compactness  worst concavity  \
0      2019.0            0.1622             0.6656           0.7119
1      1956.0            0.1238             0.1866           0.2416
2      1709.0            0.1444             0.4245           0.4504
3       567.7            0.2098             0.8663           0.6869
4      1575.0            0.1374             0.2050           0.4000

   worst concave points  worst symmetry  worst fractal dimension
0                0.2654          0.4601                  0.11890
1                0.1860          0.2750                  0.08902
2                0.2430          0.3613                  0.08758
3                0.2575          0.6638                  0.17300
4                0.1625          0.2364                  0.07678

[5 rows x 30 columns]

In [23]:
df.shape

(569, 30)

# california_housing dataset

In [27]:
from sklearn.datasets import fetch_california_housing

housing=fetch_california_housing()
print(housing.data.shape)

(20640, 8)

In [29]:
housing_df=pd.DataFrame(housing.data,columns=housing.feature_names)
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [30]:
housing_df.tail()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

# 20newsgroups dataset

In [34]:
import pandas as pd
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer

# Fetch the dataset
newsgroups = fetch_20newsgroups(subset='train')

# Create a vectorizer to convert the text data into numerical features
vectorizer = TfidfVectorizer()

# Fit and transform the data to get a matrix of features
X = vectorizer.fit_transform(newsgroups.data)

# Create a DataFrame with the features
newsgroups_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

# Show the first few rows of the DataFrame
print(newsgroups_df.head())

    00  000  0000  00000  000000  00000000  0000000004  0000000005  00000000b  \
0  0.0  0.0   0.0    0.0     0.0       0.0         0.0         0.0        0.0
1  0.0  0.0   0.0    0.0     0.0       0.0         0.0         0.0        0.0
2  0.0  0.0   0.0    0.0     0.0       0.0         0.0         0.0        0.0
3  0.0  0.0   0.0    0.0     0.0       0.0         0.0         0.0        0.0
4  0.0  0.0   0.0    0.0     0.0       0.0         0.0         0.0        0.0

   00000001  ...  çon  ère   ée  égligent  élangea  érale  ête  íålittin  \
0       0.0  ...  0.0  0.0  0.0       0.0      0.0    0.0  0.0       0.0
1       0.0  ...  0.0  0.0  0.0       0.0      0.0    0.0  0.0       0.0
2       0.0  ...  0.0  0.0  0.0       0.0      0.0    0.0  0.0       0.0
3       0.0  ...  0.0  0.0  0.0       0.0      0.0    0.0  0.0       0.0
4       0.0  ...  0.0  0.0  0.0       0.0      0.0    0.0  0.0       0.0

   ñaustin   ýé
0      0.0  0.0
1      0.0  0.0
2      0.0  0.0
3      0.0  0.0
4      0.0  0.0

[5 rows x 130107 columns]

In [35]:

print(len(newsgroups.data))

11314

# linnerud dataset

In [45]:
from sklearn.datasets import load_linnerud
linn=load_linnerud()
linn_df=pd.DataFrame(linn.data,columns=linn.feature_names)
print(linn_df.head(),linn_df.tail())

   Chins  Situps  Jumps
0    5.0   162.0   60.0
1    2.0   110.0   60.0
2   12.0   101.0  101.0
3   12.0   105.0   37.0
4   13.0   155.0   58.0     Chins  Situps  Jumps
15   12.0   210.0  120.0
16    4.0    60.0   25.0
17   11.0   230.0   80.0
18   15.0   225.0   73.0
19    2.0   110.0   43.0

In [46]:
from sklearn.datasets import load_linnerud
import pandas as pd

# Load the dataset and create DataFrame
linn = load_linnerud()
linn_df = pd.DataFrame(linn.data, columns=linn.feature_names)

# Display both head and tail in a single meaningful output
print("First 5 rows of the dataset:")
print(linn_df.head())
print("\nLast 5 rows of the dataset:")
print(linn_df.tail())

First 5 rows of the dataset:
   Chins  Situps  Jumps
0    5.0   162.0   60.0
1    2.0   110.0   60.0
2   12.0   101.0  101.0
3   12.0   105.0   37.0
4   13.0   155.0   58.0

Last 5 rows of the dataset:
    Chins  Situps  Jumps
15   12.0   210.0  120.0
16    4.0    60.0   25.0
17   11.0   230.0   80.0
18   15.0   225.0   73.0
19    2.0   110.0   43.0

In [47]:
linn_df.shape

(20, 3)

In [48]:
from sklearn.datasets import fetch_openml

# Fetch a dataset from OpenML by its name or ID
# Example: Fetch the "adult" dataset (income classification task)
adult = fetch_openml(name='adult', version=2)

# Features (X) and Target (y)
X_adult = adult.data
y_adult = adult.target

# To view the first 5 rows of data
adult_df = pd.DataFrame(X_adult)
adult_df['target'] = y_adult
print(adult_df.head())

   age  workclass  fnlwgt     education  education-num      marital-status  \
0   25    Private  226802          11th              7       Never-married
1   38    Private   89814       HS-grad              9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm             12  Married-civ-spouse
3   44    Private  160323  Some-college             10  Married-civ-spouse
4   18        NaN  103497  Some-college             10       Never-married

          occupation relationship   race     sex  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                NaN    Own-child  White  Female             0             0

   hours-per-week native-country target
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

# How To download datasets

In [54]:
import pandas as pd
from sklearn.datasets import load_wine
from IPython.display import FileLink

# Load the Wine dataset from sklearn
wine = load_wine()

# Features (X) and Target (y)
X_wine = wine.data
y_wine = wine.target

# Convert to DataFrame
wine_df = pd.DataFrame(X_wine, columns=wine.feature_names)

# Add the target column
wine_df['target'] = y_wine

# Save the DataFrame to a CSV file
wine_df.to_csv('wine_dataset.csv', index=False)

# Create a downloadable link to the CSV file
FileLink('wine_dataset.csv')

C:\Users\d949496\wine_dataset.csv